{% load bootstrap_icons %}
{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Galería/Fotos</title>
    <link rel="icon" type="image/png" href="static\img\Logo  WA.png">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">FOTOS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href=" {% url 'index' %} ">Inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</head>

<body>
    <style>
        body {
            background-color: #777;
        }
    </style>

    <!-- Primera fila -->
    <div class="row mb-2">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/alcwhite.jpeg' %}" class="card-img-top" alt="..." height="250" width="250">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/beige_alc.jpeg' %}" class="card-img-top" alt="..." height="250" width="250">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/espaldar.jpeg' %}" class="card-img-top" alt="..." height="250" width="250">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Segunda fila -->
    <div class="row mb-2">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/elegant.jpeg' %}" class="card-img-top" alt="..." height="250" width="250">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/mate.jpeg' %}" class="card-img-top" alt="..." height="250" width="250">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/doble_lav.jpeg' %}" class="card-img-top" alt="..." height="250" width="250">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/marmcoc.jpeg' %}" class="card-img-top" alt="..." height="250" width="250">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/lavap.jpeg' %}" class="card-img-top" alt="..." height="250" width="250">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/horno.jpeg' %}" class="card-img-top" alt="..." height="250" width="250">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/vista2.jpeg' %}" class="card-img-top" alt="..." height="250" width="250">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/vestier.jpeg' %}" class="card-img-top" alt="..." height="250" width="250">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/door.jpeg' %}" class="card-img-top" alt="..." height="250" width="250">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>